.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
}

.card {
  width: 325px;
  margin: 40px auto;
}

.deal-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
}

.card-content {
  padding: 20px;
}
