{% extends 'base.html' %} 
{% load static %} 
{% load humanize %}

{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/deals/deal-index.css' %}"
/>
{% endblock %} {% block content %}

<section class="page-header">
  <h1>Deal List</h1>
  <img
    src="{% static 'images/business-building-svgrepo-com.svg' %}"
    alt="Acme corp"
  />
</section>

<section class="card-container">
  {% for deal in deals %}
  <div class="card">
    <a href="{% url 'deal-detail' deal.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/brown-briefcase.svg' %}"
          alt="A briefcase"
        />
      </div>
      <h2 class="card-title">{{ deal.company_name }}</h2>
      <p>Reported SDE: ${{ deal.sde|floatformat:0|intcomma }} </p>
      <p>Industry: {{ deal.industry }} </p>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
