{% extends 'base.html' %} 
{% block content %}
<h1>Welcome to The Deal Maker</h1>
<hr />
<p class="page-content">
    Deal Maker is a simple application designed to help aspiring business buyers track potential acquisition opportunities. You can easily log and review small businesses that you're interested in — including their financials, industry, and deal status — all in one place. Whether you are just browsing or actively submitting LOIs, Deal Maker keeps your pipeline organized and visual.
</p>
{% endblock %}
