{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
<p class="page-content">
    Deal Maker is a simple application designed to help aspiring business buyers track potential acquisition opportunities. You can easily log and review small businesses that you're interested in — including their financials, industry, and deal status — all in one place. Whether you are just browsing or actively submitting LOIs, Deal Maker keeps your pipeline organized and visual.
</p>
<section class="home-wrapper">
  <div class="logo-container">
    <img
      src="{% static 'images/deal-maker-logo.png' %}"
      alt="Text reads: Deal Maker"
      class="header-logo"
    />
  </div>

  {% if not user.is_authenticated %}
  <div class="login">
    <h1>Login</h1>
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}" />
      <button type="submit" class="btn submit">Login</button>
    </form>
  </div>
  {% endif %}
</section>
{% endblock %}
